.addon-sales-total {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	background: #fff;
	color: #5a5d9f;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin: 5px auto 10px;
	border-radius: 75px;
}