header {
	background: linear-gradient(to left,#79589f,#5a5d9f);
	font-size: 16px;
	color: #fff;
	position: fixed;
	width: 100%;
	padding: 4px 0;
	border-bottom: 1px solid #f5f7fa;
}

header form {
	margin: 0 4px;
}

header span.progress {
	float: right;
}

.settings-menu {
	color: inherit;
	font-size: inherit;
	float: right;
	background-color: transparent;
	border: 0;
}