.date-range-form {
	display: inline;
}

.range-arrow, .refresh-button {
	vertical-align: middle;
	padding: 3px;
	color: inherit;
	font-size: inherit;
	background-color: transparent;
	border: 0;
}

.refresh-button[disabled] {
	color: #888;
}

.refresh-button:focus {
	outline: none;
}

.refresh-button.loading {
	animation: spin 4s;
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}