.addon-sales-tier-name {
	text-align: left;
}

table {
	border-top: 1px solid;
	border-collapse: collapse;
	margin-bottom: 10px;
}

th,
td {
	font-size: 10px;
	margin: 0;
	padding: 2px;
	text-align: right;
	width: 19%;
}
