.login {
	background-color: #f5f7fa;
	font-size: 12px;
	color: #000;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.login label {
	display: block;
	margin: 5px;
}

.login label span {
	display: block;
}

.login label input {
	width: 95%;
}

.login input[type=submit], .login button {
	margin: 5px;
	border: 1px solid black;
}