.addon-sales-card {
	margin: 10px;
	padding: 5px;
	color: #fff;
	text-shadow:  0 2px 3px rgba(0,0,0,.2);
	background: linear-gradient(to right,#79589f,#5a5d9f);
	box-shadow: 0 2px 3px 2px rgba(0,0,0,.2);
	border-radius: 4px;
	width: 350px;
}

.addon-sales-card h1 {
	text-align: center;
	font-size: 16px;
}